<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.splash_screen" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SplashScreen</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <!-- Specifies the path to the animated icon for the splash screen on Android -->
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/screen/android/splash_icon.png" />
        
        <!-- Determines whether the splash screen should automatically hide after the app is loaded -->
        <preference name="AutoHideSplashScreen" value="true" />
        
        <!-- Sets the duration of the splash screen animation in milliseconds -->
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="3000"/>
        
        <!-- Defines the background color of the splash screen -->
        <preference name="AndroidWindowSplashScreenBackground" value="#ffffff" />
        
        <!-- Specifies the background color for the splash screen icon -->
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#c0c0c0" />
    </platform>
</widget>
